@font-face {
  font-family: 'MaSuperPolice';
  src: url("../fonts/Lato-Light.eot") format("eot"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'MaSuperPolice2';
  src: url("../fonts/Lato-Italic.ttf") format("truetype");
}
$color-green : #99cc33;
$background-color: #f8f8f8;
body {
	#page1{
		background-color:#3d4450; 
		.navbar{
			background-color: transparent;
			border-color: transparent;
		}
		li a{
			color: #ffffff;
		}
		li a:hover {
			color: #99cc33;
		}
		li.active a{
			background-color: transparent;
			color: #99cc33;
		}
		.search {
			background-color: transparent;
			border-radius: 20px;
			width: 80%;
			height: 40px;
		}
		#title {
			font-family: 'MaSuperPolice';
			color: #ffffff;
			font-size: 45px;
			margin-top: 80px;
		}
		.text{
			font-family: 'MaSuperPolice2';
			font-size: 15px;
		}
		.container {
			.boutons{
				margin-top: 30px;
				#btnA{
					height: 50px;
					width: 200px;
					border-radius: 2px;
					border-color: #ffffff;
					background-color: transparent;
				}
				#btnB{
					height: 50px;
					width: 200px;
					border-radius: 2px;
					background-color:$color-green ;
					color: black;
				}
				#btnB:hover{
					color: #ffffff;
				}
			}	
		}
		.image {
			margin-top: 50px;
		}
	}

	#page2 {
		.title{
			margin-top: 60px;
			font-size: 30px;
			font-family: 'MaSuperPolice';
		}
		hr{
			width: 100px;
			background-color: $color-green;
			height: 1px;
		}

		.features {
			margin-bottom: 60px;
		}

		i {
			
			color: $color-green;
			
		}

		#vector {
				color: black !important;

			}
	}
	#page3 {
		background: $background-color ;
		padding-top: 5%;
		.tmm {
			height: 50px;
			width: 200px;
			border:1px solid #000;
			border-radius: 2px;
			background: transparent;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
	#page4 {
		h1 {
			margin-top: 5%;
		}
		p {
			padding-left: 15%;
			padding-right: 15%;
			font-style: italic;
		}
		.ttt {
			margin-bottom: 3%;
			height: 50px;
			width: 200px;
			border:1px solid $color-green;
			border-radius: 2px;
			background: $color-green;
			margin-top: 15px;
		}
		z-index: 2;
		margin-top:$background-color
	}
}
.ligne {
	border-top: 2px solid $color-green;
	margin-left: 16px;
	margin-bottom:50px;
}
.ligne2 {
	border-top: 2px solid $color-green;
	margin-bottom: 25px;
	margin-top: 10px;
}
#partie2 {
	background: $background-color!important;
	padding-top: 20px;
	#partie2v2 {
		margin-top: 5%;
	}
}
.rotate {
	-ms-transform: rotate(7deg); /* IE 9 */
	-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	transform: rotate(7deg);
	height: 200px;
	background: $background-color;
	margin-top: -8%;
}
.rotate2 {
	-ms-transform: rotate(-7deg); /* IE 9 */
	-webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
	transform: rotate(-7deg);
	height: 200px;
	background: $background-color;
	margin-top: -8%;
}
 #services {
	 margin-top: 10%;
 }